.cardwrap {
    overflow: hidden;
    float: left;
    margin: 10px;
    width: 300px;
    height: auto;
    // border: 1px solid rgb(182, 182, 182);
    border-radius: 10px;
    background: rgb(39, 39, 39);
    font-family: 'NotoSansKR';
    box-shadow: 4px 4px 10px #000;
    .cardimage{
        img{
            display: block;
            width: 100%;
        }
    }
    .cardinfo{
        padding: 10px;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        color: #fff;
        h4{
            padding-bottom: 10px;
        }
        h3{
            padding-bottom: 10px;
            text-transform: uppercase;
        }
        p{

        }
        span{
            padding-top: 20px;
            display: block;
            color: rosybrown;
            text-align: right;
        }
    }
    .cardratings{
        overflow: hidden;
        padding: 10px;
        border-top: 1px solid #000;
        ul{
            overflow: hidden;
            float: left;
            li{
                float: left;
                margin-right: 5px;
                span.ratingCircle{
                    display: inline-block;
                    width: 5px;
                    height: 15px;
                    border: 1px solid rgb(66, 66, 66);
                    &.on{
                        background: #fd9d4e;
                    }
                }
            }
        }
        span.author{
            float: right;
            color : #d3d3d3;
        }
    }
}